<header id="headerId">
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">

        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Acerca de</h4>
          <p class="about">A sus 25 años, Domingo Rodríguez Lázaro, fundador y director creativo de Dominnico, puede decir que ha cumplido su sueño, "crear diseños de lujo contemporáneo afines al espectáculo", creaciones que ya lucen Rosalía, Lady Gaga o Rita Ora o Lizzo.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contactos</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.dominnico.com/" class="social" target="_blank">Tienda Web</a></li>
            <li><a href="https://www.instagram.com/iamdomingorodriguez/?hl=es" class="social" target="_blank">Instagram</a></li>
            <li><a href="https://es-la.facebook.com/pages/category/Art/Domingo-Rodr%C3%ADguez-L%C3%A1zaro-480122362348161/" class="social" target="_blank">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Domingo Rodríguez Lázaro</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

