<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <!-- Título web -->
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>SISTEMA FICHAJE</strong>
      </a>
      <!--  -->
    </div>
    <!-- Navegación header -->
    <div class="tab">
      <button class="tablinks" routerLink="/uno">Componente 1</button>
      <button class="tablinks" routerLink="/dos">Componente 2</button>
      <button class="tablinks" routerLink="/tres">Componente 3</button>
      <button class="tablinks" routerLink="/account">Administración cuenta</button>
    </div>
    <!--  -->
  </div>
</header>

