<footer class="text-muted py-5 bg-dark">
  <div class="container">
    <p class="mb-1 text-white links">Esta página ha sido realizada utilizando
      <a href="https://angular.io/" target="_blank" title="Ir a página de Angular" id="angularLink">Angular</a>
    </p>
    <p class="mb-0 text-white links">Uso de
      <a href="https://getbootstrap.com/" target="_blank" title="Ir a página de Bootstrap" id="bootstrapLink">Bootstrap</a>&nbsp;
      <a href="https://ng-bootstrap.github.io/#/home" target="_blank" title="Ir a página de Ng-Bootstrap" id="ngLink">Ng Bootstrap</a>&nbsp;
      <a href="https://material.angular.io/" target="_blank" title="Ir a página de Material Angular" id="materialLink">Material Angular</a>
    </p>
  </div>
</footer>
