<div class="d-md-flex flex-md-equal w-75 my-md-3 ps-md-3 m-auto">
  <div class="rounded-3 border-dark border-1 border bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden w-100">
    <div class="my-3 p-3">

      <h2>Tipo de puesto</h2>
      <app-bar-chart-puesto></app-bar-chart-puesto>

    </div>
  </div>
  <div class="rounded-3 border-dark border-1 border bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden w-50">
    <div class="my-3 py-3">

      <h2>Horas semanales presenciales</h2>
      <app-line-chart-horas-presenciales></app-line-chart-horas-presenciales>

    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-75 my-md-3 ps-md-3 m-auto">
  <div class="rounded-3 border-dark border-1 border bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden w-100">
    <div class="my-3 p-3">

      <h2>Horas mensuales</h2>
      <app-pie-chart-horas-mensuales></app-pie-chart-horas-mensuales>

    </div>
  </div>
  <div class="rounded-3 border-dark border-1 border bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden w-100">
    <div class="my-3 py-3">

      <h2>Fichajes mensuales</h2>
      <app-polar-chart-fichajes-mensuales></app-polar-chart-fichajes-mensuales>

    </div>
  </div>
</div>
