/* You can add global styles to this file, and also import other style files */


/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


/* body {
  background-color: rgb(230, 109, 109);
} */


/* body {
  background-color: rgb(132, 247, 255);
} */


/* body {
  background-color: #DAF7A6;
} */


body {
  background-color: #c4f072;
}

