/* Styles for create button */
.btnCrear {
  background-color: #3e4551;
}

.btnCrear:hover {
  background-color: black;
}

.btnCrear, .btnCrear:hover {
  color: white;
}



/* Styles for top div description */
.desc {
  color:#8B8E84;
}
