<form>

  <div class="mb-3">
    <div class="row">

      <div class="row whiteDiv border-secondary border-1 border rounded">
        <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Buscar por cualquier campo:</label>
        <div class="col-xs-3 col-sm-auto">
          <input id="table-complete-search" type="text" class="form-control" name="searchTerm" [(ngModel)]="service.searchTerm">
        </div>
        <!-- <span class="col col-form-label" *ngIf="service.loading$ | async">Cargando</span> -->
      </div>

    </div>
  </div>

  <table class="table table-responsive">
    <thead>
    <tr class="firstRow">
      <th scope="col">Id</th>
      <th scope="col" sortable="nombre" (sort)="onSort($event)">Nombre</th>
      <th scope="col" sortable="edad" (sort)="onSort($event)">Edad</th>
      <th scope="col" sortable="direccion" (sort)="onSort($event)">Dirección</th>
      <th scope="col" sortable="puesto" (sort)="onSort($event)">Puesto</th>
      <th scope="col" sortable="dni" (sort)="onSort($event)">Dni</th>
      <th scope="col" sortable="correo" (sort)="onSort($event)">Correo</th>
      <th scope="col" sortable="rol" (sort)="onSort($event)">Rol</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let emp of empleados$ | async" class="rows">
      <th scope="row">{{ emp.id }}</th>
      <!-- Nombre -->
      <td><ngb-highlight [result]="emp.nombre" [term]="service.searchTerm"></ngb-highlight></td>
      <!-- Edad -->
      <td><ngb-highlight [result]="emp.edad | number" [term]="service.searchTerm"></ngb-highlight></td>
      <!-- Dirección -->
      <td><ngb-highlight [result]="emp.direccion" [term]="service.searchTerm"></ngb-highlight></td>
      <!-- Puesto -->
      <td><ngb-highlight [result]="emp.puesto" [term]="service.searchTerm"></ngb-highlight></td>
      <!-- DNI -->
      <td><ngb-highlight [result]="emp.dni" [term]="service.searchTerm"></ngb-highlight></td>
      <!-- Correo -->
      <td><ngb-highlight [result]="emp.correo" [term]="service.searchTerm"></ngb-highlight></td>
      <!-- Rol -->
      <td><ngb-highlight [result]="emp.rol ? 'Admin' : 'User'" [term]="service.searchTerm"></ngb-highlight></td>
    </tr>
    </tbody>
  </table>

  <div class="p-2">

    <select class="form-select m-auto" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <ng-container *ngFor="let numEmp of arrayNumEmpleados">
        <option *ngIf="numEmp % 5 == 0 && numEmp != arrayNumEmpleados.length" [ngValue]="numEmp">{{ numEmp }} Empleados</option>
        <option *ngIf="numEmp == arrayNumEmpleados.length" [ngValue]="numEmp">Todos</option>
      </ng-container>
    </select>

    <br>

    <div class="actualPage">
      <ngb-pagination
        [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>
    </div>

  </div>

</form>
