/* Styles needed for setting same height for emps and pages divs */
.pagination {
  margin: 0px;
  height: 100%;
}

.pagination a {
  height: 100%;
}



/* Style for camouflage modal-content */
.inputSearch{
  /* background-color: #c4f072; */
  background-color: #D9AA8F;
}



/* Styles for giving advice that headers of table are clickable */
thead th:not(:first-child) {
  cursor: pointer;
}

thead th:not(:first-child):hover {
  background-color: #0d9df0;
}



/* Styles for displaying well table in all kind of devices */
@media (max-width: 992px) {
  .correoHead, .correo {
    display: none;
  }
}


@media (max-width: 490px) {
  .direccionHead, .direccion, .form-select {
    display: none;
  }
  .navigat {
    margin: auto;
  }
}


@media (max-width: 415px) {
  .dniHead, .dni {
    display: none;
  }
}


@media (max-width: 330px) {
  .edadHead, .edad {
    display: none;
  }
}



/* Styles for accordion button */
ngb-accordion .btn{
  text-decoration: none;
}

ngb-accordion .btn:hover{
  text-decoration: underline;
}

ngb-accordion .btn:focus {
  box-shadow: none;
}

